{% extends "index.html" %}

{% load static %}

{% block content %}
<body class="about-background">

<div class="about layer-1-2 wow slideInUp animated">
    <h4>SZANOWNI PAŃSTWO</h4>
    <p>&emsp;&emsp;Nasza firma specjalizuje się w montażach drzwi zewnętrznych oraz wewnętrznych. Montujemy na terenie całego województwa
        dolnośląskiego. Gwarantujemy szybki, profesjonalny i nieuciążliwy dla klienta montaż. Prezentowane przez
        nas drzwi, pochodzą od najlepszych polskich producentów, którzy już od wielu lat tworzą dla Was doskonałej
        jakości produkty. Wiemy, że sprowadzamy od nich to co najlepsze. Chcemy Wam zapewnić dostęp do produktów
        trwałych oraz takich, które spełniają odpowiednie wymogi bezpieczeństwa. Kupując u nas drzwi zewnętrzne
        lub wewnętrzne możecie być pewni, że dobrze inwestujecie swoje pieniądze. Oferujemy Wam drzwi trwałe pod
        względem konstrukcji oraz odporne na działanie czynników zewnętrznych, takich jak wilgoć, temperatura
        czy promienie słoneczne. Nasze drzwi wejściowe posiadają odpowiednia izolację techniczną i są
        dźwiękoszczelne. Z nami otrzymujecie gwarancje na produkty doskonałej jakości. Skorzystajcie z usług
        naszych specjalistów, którzy są gotowi Wam pomóc.
    </p>
</div>
  <footer>
    <div class="signature">Designed by Codejasz</div>
  </footer>
</body>

{% endblock %}