{% extends "index.html" %}

{% load static %}

{% block content %}
<body class="offer-background">

<div class="wrapper">
    <div class="contact wow slideInDown">
        <div>
            <h4>Skontaktuj się z nami!</h4>
        </div>
        <div class="form">
            <div>
                <h5 style="font-weight: bold">Telefonicznie:</h5>
            </div>
            <div>
                <h5 style="font-weight: bold">Formularz kontaktowy: </h5>
            </div>
            <div class="contact-info">
                <div>
                    <span class="lnr lnr-user"></span>
                    <span class>Przedstawiciel firmy</span>
                </div>
                <div>
                    <span class="lnr lnr-phone-handset"></span>
                    <span>+48 795 648 112</span>
                </div>
            </div>
            {% load bootstrap4 %}
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="form-actions">
                    {% buttons %}
                        <button class="btn btn-secondary" type="submit">Wyślij</button>
                    {% endbuttons %}
                </div>
            </form>
        </div>
    </div>
</div>
</body>
{% endblock %}
