{% extends "index.html" %}

{% load static %}

{% block content %}
<body class="offer-background">
    <div class="wrapper">
        <div>
            <h3 style="text-decoration: underline; text-align: center;">{{ door_name }}</h3>
        </div>
        <div class="door-container">
            <div class="b wow slideInLeft">
                <div>
                    <img src="{% static main.src %}" alt="">
                </div>
            </div>
            <div class="small">
                <div class="s wow slideInRight">
                {% for image in images %}
                    <div>
                        <img class="image" src="{% static image.src %}" alt="">
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="colors">
            <div class="desc-title">
                <h3>{{ colors_title }}</h5>
            </div>
            <div class="borders">
            {% for color in colors %}
                <div class="border">
                    <img src="{% static color.src %}" alt="">
                    <h6 style="text-align: center">{{ color.name }}</h6>
                </div>
            {% endfor %}
            </div>
        </div>
        <div class="description">
            <div class="desc-title">
                <h3>Opis i dane.</h3>
            </div>
            <div>
                <div>
                    <h6>SKRZYDŁO Z LISTWĄ</h6>
                </div>
                <div>Skrzydło drzwiowe wykonane z klejonego wzdłuż i w poprzek drewna sosnowego. Jego wypełnienie stanowi płyta wiórowa pełna i styropian twardy.</div>
            </div>
            <div>
                <div>
                    <h6>WYKOŃCZENIE</h6>
                </div>
                <div>Płyta MDF oklejona Folia PCV</div>
            </div>
            <div>
                <div>
                    <h6>GRUBOŚĆ SKRZYDŁA</h6>
                </div>
                <div>50 mm</div>
            </div>
            <div>
                <div>
                    <h6>WYMIARY ZEWNĘTRZNE SKRZYDŁA</h6>
                </div>
                <div>”80, ”90”</div>
            </div>
            <div>
                <div>
                    <h6>WYPOSAŻENIE STANDARDOWE</h6>
                </div>
                <div>
                    <ul>
                        <li>zamek dolny trzpieniowy 3-bolcowy</li>
                        <li>zamek górny trzpieniowy 3-bolcowy</li>
                        <li>3 zawiasy dwu-punktowe regulowane na imbus</li>
                        <li>3 bolce antywyważeniowe</li>
                    </ul>
            </div>
            </div>
            <div>
                <div>
                    <h6>OPCJE ZA DOPŁATĄ</h6>
                </div>
                <div>
                    <ul>
                        <li>nietypowy wymiar skrzydła</li>
                        <li>wyfrezowanie np. numeru, nazwiska itp. na drzwiach</li>
                        <li>podcięcie wentylacyjne</li>
                    </ul>
            </div>
            </div>
        </div>
    </div>
    </div>

    <script>
    var big = $(".b img");
    var color = $(".color");
    $(".s div img").click(function() {
        big.attr("src", $(this).attr("src"));
        color.text($(this).attr("alt"));
    });
</script>
</body>

{% endblock %}
